body {background-color:#A4A4A4;
}
h1 { color:#81DAF5;
  text-align:center;
  font-size:32px;
  background-color:white;
}
h2 { text-indent: 70px;
  color:#81DAF5;
  text-decoration: underline;
}
ol.a {
    list-style-type: upper-roman;
}
/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}
li { margin-left: 20px;
}
/* mouse over link */
a:hover {
    color: lightblue;
}

/* selected link */
a:active {
    color: purple;
}
ul.b {
  list-style-image: url('http://www.woollettaquanet.info/SheetMusic/musicimages/sqcyan.gif');
}
ul.c {
  list-style-image: url('http://www.woollettaquanet.info/SheetMusic/musicimages/animated-arrow5.gif');
}
h2 h3 { font-size: 20px
}
ul.d { list-style-type: circle;
}
ul.e { background: lightblue;
  padding: 20px;
}
ul li.f { background: #00CED1;
    margin: 10px;
}  
