body {background-color:#A4A4A4;
}
h1 { color:#81DAF5;
  text-align:center;
  font-size:32px;
  background-color:white;
}
h2 { text-indent:5px;
  color:#81DAF5;
  text-decoration: underline;
}
ol.a {
    list-style-type: upper-roman;
}
li {text-indent:20px;
}
/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: lightblue;
}

/* selected link */
a:active {
    color: purple;
}
ul.b {
  list-style-image: url('http://www.woollettaquanet.info/SheetMusic/musicimages/sqcyan.gif');
}
ul.c {
  list-style-image: url('http://www.woollettaquanet.info/SheetMusic/musicimages/animated-arrow5.gif');
}
h2 h3 { margin-left:40px;
        font-size: 20px
}
